<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Home Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'belt_app/css/homepagestyling.css' %}">
</head>
<body>
    <div id="topper">
        <h1>Welcome {{ request.session.first_name }}</h1>
        <a class = "toplink" href='/travels'>Back</a>
        <a class = "toplink" href='/logout'>Logout</a>
    </div>
    <h2>Your Trip Schedules</h2>
    <table class="table table-striped userstable">
        <thead>
          <tr>
            <th scope="col">Destination</th>
            <th scope="col">Travel Start Date</th>
            <th scope="col">Travel End Date</th>
            <th>Plan</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for my_trip in my_trips %}
            <tr>
              <td><a href='/view/{{ my_trip.id }}'>{{ my_trip.destination }}</a></td>
              <td>{{ my_trip.travel_start_date }}</td>
              <td>{{ my_trip.travel_end_date }}</td>
              <td>{{ my_trip.plan }}</td>
              <td><a href='/cancel/{{ my_trip.id }}' class="showeditdelete">Cancel</a> <a href='/delete/{{ my_trip.id }}' class="showeditdelete">Delete</a></td>
            </tr>
          {% endfor %}  
        </tbody>
    </table>
    <h2>Other User's Travel Plans</h2>
    <table class="table table-striped userstable">
        <thead>
          <tr>
            <th scope="col">Destination</th>
            <th scope="col">Travel Start Date</th>
            <th scope="col">Travel End Date</th>
            <th scope="col">Do You Want To Join?</th>
          </tr>
        </thead>
        <tbody>
          {% for trip in trips %}
            <tr>
              <td><a href='/view/{{ trip.id }}'>{{ trip.destination }}</a></td>
              <td>{{ trip.travel_start_date }}</td>
              <td>{{ trip.travel_end_date }}</td>
              <td><a href='/join/{{ trip.id }}' class="showeditdelete">Join</a></td>
            </tr>
          {% endfor %}  
        </tbody>
    </table>
    <a href='/addtrip' class ="addnewuser">Add a new trip</a>
</body>
</html>