<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>View Plan Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'belt_app/css/viewplanstyling.css' %}">
</head>
<body>
    <div id="topper">
        <a class = "toplink" href='/travels'>Back</a>
        <a class = "toplink" href='/logout'>Logout</a>
    </div>
    <div class = "section">
        <h1>Black Rock, Nevada</h1>
        <h3>Planned By:  Alex Grey</h3>
        <h3>Description: Go To Burning Man</h3>
        <h3>Travel Date From: August 27, 2019</h3>
        <h3>Travel Date To: September 4, 2019</h3>
    </div>
    <div class = "section">
        <h1>Other Users Joining the Trip</h1>
        <h3>Bret Hart</h3>
        <h3>Mick Foley</h3>
    </div>
</body>
</html>